body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#spaceLink a {
    text-decoration: none;
    color: orangered;
}

section {
    display: flex;
    margin-bottom: 40px;
}

.w-half {
    width: 50%;
    padding: 10%;
}

.w-half img {
    width: 80%;
}

.orange-btn {
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
    background-image: linear-gradient(tomato, orangered);
    border: 1px solid lightgray;
    border-radius: 10px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}